* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10% 0 10%;
}

.container {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    transition: 1s;
}

.container2 {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}

.container3 {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-box {
    width: 30%;
    height: 500px;
}

.items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-mid-line {
    width: 20%;
    height: 1px;
    background-color: #000;
}

header .sw-nav {
    width: 700px;
}

.sw-header-mid-line {
    width: calc(100% - 300px);
    height: 1px;
    background-color: #000;
}

header nav {
    width: 70%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}

/* Admin Style*/

.links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link1 {
    background: url('../img/1.jpg');
}

.link2 {
    background: url('../img/2.jpg');
}

.link3 {
    background: url('../img/3.jpg');
}

.link {
    width: 400px;
    height: 90%;
    background-position: center;
    background-size: 120% 120%;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.link:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: 1s;
}

.link a {
    text-decoration: none;
    color: #000;
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 50px;
}

/* /admin style*/


.main-bgr {
    width: 100%;
    height: 70%;
    background: url('../img/header-bgr.jpg');
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 0px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-mid-line {
    width: calc(100% - 450px);
    height: 1px;
    background-color: #000;
}

.footer-logo {
    width: 220px;
    height: 65px;
    background: url('../img/logo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
}



/* BUTTON STYLE */


